.countries{
    display: grid;
    grid-gap: 3rem;
    padding:0 3rem;
}

@media screen and (min-width: 768px){
    .countries{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (min-width: 992px){
    .countries{
        grid-template-columns: repeat(3,1fr);
    }
}